<div id="menu">
  <img src="../../../../assets/grifo-logo-1.png" alt="">
  <br>
  <p (click)="editPage('messages')">Visualizza messaggi</p>
  <p (click)="editPage('slide')">Modifica Slide</p>
  <p (click)="editPage('partners')">Modifica Partners</p>
  <p (click)="editPage('portfolio')">Modifica Portfolio</p>
  <p (click)="editPage('chat')">Modifica ChatBot</p>
</div>

<div class="menumobile">
  <img src="../../../../assets/grifo-logo-1.png" alt="">
  <p (click)="editPage('messages')">Visualizza messaggi</p>
  <p (click)="editPage('slide')">Modifica Slide</p>
  <p (click)="editPage('partners')">Modifica Partners</p>
  <p (click)="editPage('portfolio')">Modifica Portfolio</p>
  <p (click)="editPage('chat')">Modifica ChatBot</p>
</div>
