<div #container   class="bg">
  <div class="animation">
    <br>
    <img id="grifo1" src="../../../../assets/home/analytics/icon/Grifo-Multimedia-icone-counter-01.png" alt="1">
    <p>{{digitalLearning}}</p>
    <p>Anni nel digital learning <br> & gamification</p>
  </div>
  <div class="animation2">
    <img id="grifo2" src="../../../../assets/home/analytics/icon/Grifo-Multimedia-icone-counter-02.png" alt="1">
    <p>{{form}}</p>
    <p>Ore di formazione erogate</p>
  </div>
  <div class="animation3">
    <img id="grifo3" src="../../../../assets/home/analytics/icon/Grifo-Multimedia-icone-counter-03.png" alt="1">
    <p>{{peap}}</p>
    <p>Persone formate</p>
  </div>
</div>
