.bg {
  background-image: url("../../../../assets/home/analytics/Grifo-Multimedia-Background-counter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: nowrap;
  div {
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
    p {
      color: white;
      text-align: center;
      font-size: 30px;
      font-weight: 500;
    }
  }
}
.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bg div {
  text-align: center;
  margin: 40px;
}

@media screen and (max-width: 1168px) {
  .bg {
    margin-top: -40px;
    display: block;
  }
}
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
