<div class="bg">
  <div>
    <br>
    <img id="grifo1" src="../../../../assets/home/analytics/icon/Grifo-Multimedia-icone-counter-01.png" alt="1">
    <p>24</p>
    <p>Anni nel digital learning <br> & gamification</p>
  </div>
  <div>
    <img id="grifo2" src="../../../../assets/home/analytics/icon/Grifo-Multimedia-icone-counter-02.png" alt="1">
    <p>900.000</p>
    <p>Ore di formazione erogate</p>
  </div>
  <div>
    <img id="grifo3" src="../../../../assets/home/analytics/icon/Grifo-Multimedia-icone-counter-03.png" alt="1">
    <p>450.000</p>
    <p>Persone formate</p>
  </div>
</div>
