<div class="container">
  <h2>Modifica / Aggiungi le risposte del chatbot</h2>
  <br>
<button  (click)="openmodal(modifica)" type="button" class="btn btn-primary">Crea una Risposta</button>

  <hr>
  <div class="card" *ngFor="let chatbot of chatbot">
    <div class="card-body">
      <h5 class="card-title">Domanda:</h5>
      <p class="card-text">{{chatbot.quest}}</p>
      <h5 class="card-title">Risposta:</h5>
      <p class="card-text">{{chatbot.resp}}</p>
      <button type="button" (click)="elimina(chatbot.id)" class="btn btn-danger">Elimina</button>
    </div>

  </div>
</div>
<ng-template #modifica>
  <div class="modal-header">
    <h4 class="modal-title">Crea una risposta</h4>
  </div>
  <div class="modal-body">
<p>Domanda</p>
<textarea [(ngModel)]="domandamod"class="text" cols="1" rows="1"></textarea>
<p>Risposta</p>
<textarea [(ngModel)]="rispostamod"  id="text" class="text" cols="30" rows="10"></textarea>



  </div>
  <div class="modal-footer">
    <button type="button" (click)="save()" class="btn btn-outline-dark">Salva</button>
  </div>
</ng-template>
