<span>
  <div class="image-gallery">
    <div class="image-container">
      <img src="../../../../assets/home/info/Grifo-Multimedia-Home-Digital-Learning-1.jpg" alt="1">
      <div class="overlay"></div>
      <div class="text">
        <p>Digital Learning</p>
        <a>SCOPRI</a>
      </div>
    </div>
    <div class="image-container">
      <img src="../../../../assets/home/info/Grifo-Multimedia-Home-Gamification-2.jpg" alt="2">
      <div class="overlay"></div>
      <div class="text">
        <p>Gamification</p>
        <a>SCOPRI</a>
      </div>
    </div>
    <div class="image-container">
      <img src="../../../../assets/home/info/Grifo-Multimedia-Home-Servizi-e-Consulenza-01.jpg" alt="3">
      <div class="overlay"></div>
      <div class="text">
        <p>Servizi &
          Consulenza</p>
        <a>SCOPRI</a>
      </div>
    </div>
  </div>
</span>
