<h2>Modifica Portfolio</h2>
<div class="slide">
<div class="row">
  <div class="col-md-4" *ngFor="let portfolio of portfolio">
    <div class="card">
      <img class="card-img-top" [src]="portfolio.img" alt="Slide image">
      <div class="card-body">
        <h5 class="card-title">{{ portfolio.title }}</h5>
        <p class="card-text">{{ portfolio.subtitle}}</p>
        <button type="button" class="btn btn-primary">Modifica</button>
        <button type="button" class="btn btn-primary">Elimina</button>
      </div>
    </div>
  </div>
</div>
</div>
