#navAbsolute {
  position: absolute;
  z-index: 999;
  background-color: rgba(20, 20, 20, 0.247);
  width: 100%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.445);
  img {
    margin-left: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  ul {
    position: absolute;
    display: flex;
    list-style: none;
    right: 10px;
    top: 30px;
  }
  a {
    font-size: 17px;
    font-weight: 500;
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }
}

#navFix,
#navMobile {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(210, 210, 210, 0.446);
  img {
    width: 200px;
    margin-left: 30px;
  }
  ul {
    position: absolute;
    display: flex;
    list-style: none;
    right: 10px;
    top: 5px;
  }
  a {
    font-size: 17px;
    font-weight: 500;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .bi {
    color: rgb(0, 0, 0);
    margin-left: 20px;
  }
}
.slide-in-top {
  -webkit-animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.bi {
  color: white;
  margin-left: 20px;
}
@media screen and (max-width: 998px) {
  #navAbsolute {
    display: none;
  }
  #navFix {
    display: none;
  }
  #navMobile {
    display: block !important;
  }
}

#navMobile {
  display: none;
  text-align: center;
}
