<!-- navbar fissa-->

<div id="navAbsolute">
  <img src="../../../../assets/grifo-logo-1.png" alt="logo">
  <ul>
    <li> <a href="#about">Chi Siamo</a> </li>
    <li> <a href="#portfolio"> Portfolio</a> </li>
    <li> <a href="#contacts">Contatti</a> </li>
    <li><i class="bi bi-facebook"></i></li>
    <li><i class="bi bi-twitter"></i></li>
    <li><i class="bi bi-linkedin"></i></li>
    <li><i class="bi bi-instagram"></i></li>
  </ul>
</div>

<div id="navFix" class="slide-in-top" *ngIf="navbarFix">
  <img src="../../../../assets/grifo-logo-2.png" alt="logo">
  <ul>
    <li> <a href="#carouselhome"><i class="bi bi-arrow-up-square-fill"></i></a> </li>
    <li> <a href="#about">Chi Siamo</a> </li>
    <li> <a href="#portfolio"> Portfolio</a> </li>
    <li> <a href="#contacts">Contatti</a> </li>
    <li><i class="bi bi-facebook"></i></li>
    <li><i class="bi bi-twitter"></i></li>
    <li><i class="bi bi-linkedin"></i></li>
    <li><i class="bi bi-instagram"></i></li>
  </ul>
</div>
<div id="navMobile" class="slide-in-top">
  <img src="../../../../assets/grifo-logo-2.png" alt="logo">

</div>
