<div class="footer d-flex justify-content-between align-items-center p-4">
  <div>
    <img class="logo" src="../../../../assets/grifo-logo-1.png" alt="logo">
    <br>
    <img class="logo" src="../../../../assets/footer/Logo-Soges-Holding-Company.png" alt="logo">
    <div class="mailster-widget mailster-widget-signup">
      <br>
      <p class="subscribe">Iscriviti alla newsletter e resta sempre aggiornato.</p>
      <form action="https://grifomultimedia.it/mailster/subscribe" method="post" class="mailster-form">
        <input name="email" type="email" placeholder="Email" required>
        <br>
        <button class="submit-button" type="submit">Iscriviti</button>
      </form>
    </div>
  </div>
  <div class="about">
    <p class="title">Grifo multimedia Srl ©</p> <br>
    <span>
      <p class="adress">BARI *, Via Bruno Zaccaro, 17/19 – 70126</p>
      <p class="tell">Tel. +39 080.4602093 - Fax +39 080.5481762</p>
      <p class="ora">"Orario di ricevimento segreteria didattica: Lun - Ven 9:00 - 13:00"</p>
    </span>
    <span>
      <p class="adress">MILANO, Piazzale Aquileia, 10 – 20144</p>
      <p class="tell">Tel. +39 02.48009872 - Fax +39 02.48021740</p>
    </span>
    <span>
      <p class="adress">FIRENZE, Via Masaccio, 62 – 50132</p>
      <p class="tell">Tel. +39 055.0620680</p>
    </span>
    <span>
      <p class="adress">TORINO, Corso Ferrucci, 24 – 10138</p>
      <p class="tell">Tel. +39 011.5638611 - Fax +39 011.5638610</p>
    </span>
    <span>
      <p class="adress">PADOVA, Via San Crispino, 106 - 35129</p>
    </span>
    <span>
      <p class="adress">CEPRANO (FR) *, Via Valle dei Liri SNC - 03024</p>
    </span>
    <p class="info">(*) sedi accreditate presso le rispettive regioni per attività di formazione professionale</p>
    <p class="contact-text">INFO <span class="contact-text-b">info@grifomultimedia.it</span></p>
    <p class="contact-text">MARKETING & COMMERCIALE <span class="contact-text-b">comunicazione@grifomultimedia.it</span>
    </p>
    <p class="contact-text">LAVORA CON NOI <span class="contact-text-b">jobs@grifomultimedia.it</span></p>
    <br>
    <p class="contact-text">P.IVA 04954210722 - I.REA Bari n. 383256 - Cap. soc. € 115.790,00 i.v.</p>

  </div>
  <div>
    <img class="italia" src="../../../../assets/footer/grifo-mappa-italia.png" alt="logo">
  </div>
</div>
